:root {
    --logo-color: rgb(150 76 154);
    --black: #21211c;
}

#navbar_main {
    /* position: fixed; */
    z-index: 1;
    width: 100%;
    color: aquamarine;
}

.navbar-brand {
    color: var(--logo-color);
    font-size: 30px;
    font-family: 'Tapestry', cursive;
}

.navbar,
li,
a {
    color: white;
}

.navbar,
li,
a:hover {
    color: white;
}

.navbar-brand:hover {
    background: none;
}

#navbarNav {
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.navbar-toggler {
    background: var(--logo-color);
    height: 30px;
    width: 45px;
    padding-left: 4px;
    border-left-width: 0px;
    padding-right: 0px;
    color: white;
}

.navbar-nav,
li {
    margin-left: 15px;
}

.underline:after {
    content: "";
    display: block;
    background-color: var(--logo-color);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.underline:hover:after {
    width: 100%;
}

.home-img {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .8)), url(images/medeiros.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.home-img {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home-img {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img,
.h2 {
    color: white;
}

@media screen and (max-width:770px) {
    .home-title {
        font-size: 27px;
    }
}

@media screen and (width:800px) {
    .home-title {
        font-size: 40px;
    }
}

.about {
    color: var(--logo-color);
    text-align: center;
    font-size: 30px;
    font-family: fantasy;
}

.about_container {
    padding: 50px;
    margin-top: 40px;
    background: var(--black);
    border-radius: 15px;
    margin-top: 10em;
}

.rounded.float-top.img {
    width: 15em;
}

.logo_img {
    border-right: inset var(--logo-color);
    margin-right: 30px;
}

@media screen and (max-width:770px) {
    .logo_img {
        margin: 20px;
        border-right: none;
        padding-bottom: 50px;
        border-bottom: inset var(--logo-color)
    }
}

@media screen and (min-width:860px) {
    .logo_img {
        margin: 20px;
        border-right: none;
        padding-bottom: 50px;
        border-right: inset var(--logo-color)
    }
}

.about_us p {
    color: white;
    text-align: center;
    padding-top: 30px;
}